{% extends "../components/base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="form-main-content">

    <form name='signup_form' id='signup_form' method="POST" action="" class="form-container">
        {% csrf_token %}
        <div class='form-title'>
            <h2>Sign Up</h2>
        </div>
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ profile_form.phoneNum.label_tag }}
        {{ profile_form.phoneNum }}
        {{ profile_form.bio.label_tag }}
        {{ profile_form.bio }}
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% if form.errors %}
        <ul class="errorlist">
            {% for error in form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if profile_form.errors %}
        <ul class="errorlist">
            {% for error in profile_form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class='form-buttons'>
            <button class='button' type="submit">Sign Up</button>
        </div>
        <div class='form-login-link'>
            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </form>
</div>

{% endblock %}
{% block footer %}{% endblock %}