{% extends "../components/base.html" %}
{% block title %}Add Books{% endblock %}

{% block content %}
<div class="form-main-content">
    <form name="product_form" id="product_form" method="POST" action="{% url 'addBook' %}" class="form-container">
        {% csrf_token %}
        <div class="form-title">
            <h2>Add a Book</h2>
        </div>

        <label class="form-label">
            Book Name:
            {{ form.bookName }}
        </label>
        <label class="form-label">
            Book Author:
            {{ form.bookAuthor }}
        </label>
        <label class="form-label">
            Publication date:
            {{ form.publication_date }}
        </label>
        <label class="form-label">
            Genre:
            {{ form.genre }}
        </label>
        <label class="form-label">
            Rating:
            {{ form.rating }}
        </label>
        <label class="form-label">
            Cover image:
            {{ form.cover_image }}
        </label>
        <label class="form-label">
            Download link:
            {{ form.download_link }}
        </label>

        <div class="form-buttons">
            <button class="button" type="submit">Save</button>
            <a class="button" href="{% url 'Home' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}
